#mainMenu{
    background-color: white;
    height: 38px;
    padding: 15px;
    border-radius: 3px;
    box-sizing: content-box;
}

#mainMenuInner{
    margin: 0 auto;
}

#mainMenuInner ul{
    position: relative;
    list-style-type: none;
    float: left;
    padding: 0;
    margin: 0;
    box-shadow: 0px 9px 12px -15px grey;
}

#mainMenuInner li{
    float:left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-image: none;
}

#mainMenuInner li.highlight{
    background-color: #800;
    top: 36px;
    height: 2px;
    border-bottom: solid 1px #C00;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

#mainMenuInner li a{
    box-sizing: content-box;
    height: 30px;
    padding-top: 8px;
    margin: 0 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    position: relative;
    z-index: 2;
    transition: ease-in-out 0.3s;
    font-family: TikalSans;
    font-size: 14px;
    font-weight: normal;
}