body{
	color: white !important;
}

nav {padding: 1em;}



nav li {
	color: gray;
	list-style: none;
	padding-top:20%;
	padding-bottom: 20%;
   

    display:none;
}

nav{
	opacity: 0.2;
	position: fixed;
	left: 0;
	top: 100;
	bottom: 0;
	display: block;
	max-height: 475px;
	min-width: 40px;
	width: 40px;
	background-color: white;
	text-align:left;
	border-radius: 2px 2px 20px;

padding-top:5%;
	transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

nav:hover{
width: 140px;
background-color:transparent;
opacity: 1;
display: block;
text-align: center;
padding-top:5%;
}

nav > li:hover
{
	
	display:block !important;

}

nav:hover li{
	border-radius: 10px 10px 10px;
	border-bottom: 2px;
	color: black;
	font-weight: 600;
	display:block;
}

nav:hover li a {
	color: black;
	transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
  font-size: 18px;
}

nav:hover li a:hover{
	font-size:24px;
	color: grey;
	transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}



.section
{

	padding: 20rem 0 19rem;
}

 .white
{
}

.green
{
	color: black;
}

.text-center
{
	text-align: center;
}

.home
{
	background:url('https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?fit=crop&fm=jpg&h=700&q=75&w=1050');
	background-repeat: no-repeat;
	background-size: cover;
}

 .column
{
}
.blog
{
	color: black;
	background: url('https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=75&fm=jpg&s=2016c4932a7b7a1b629cb6890bff9977');
	background-size: cover;
}



h1{
	font-family: 'Lucida Bright', Georgia, serif;

}
p{
	font-family: 'Lucida Bright', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 18px;
}

.FooterIcon
{
	width: 150px;
height: 150px;
display: flex;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
margin-left: 1%;
margin-right: 1%;
}

.Facebook
{
	background:url('facebook.png');
	background-size:cover;
}

.Twitter
{
background:url('twitter.png');
background-size:cover;
}

.LinkedIn
{
background:url('instagram.png');
background-size:cover;
}

.FooterIcon:hover
{
border-radius:30px 30px 30px;
width:175px;
height: 175px;

}