@font-face{
    font-family: TikalSans;
    src: url(../font/tikalsans_medium_macroman/TikalSans-Medium-webfont.woff)
}

body{
	color: white !important;
    font-family: TikalSans;
}

.section
{
  box-shadow: 0px 15px 12px -15px grey;
	padding: 20rem 0 19rem;
}

 .white
{
}

.green
{
	color: black;
}

.text-center
{
	text-align: center;
}

.home
{
	background:url('https://unsplash.imgix.net/photo-1418479631014-8cbf89db3431?fit=crop&fm=jpg&h=700&q=75&w=1050');
	background-repeat: no-repeat;
	background-size: cover;
}

 .column
{
}
.blog
{
	color: black;
	background: url('https://unsplash.imgix.net/uploads/1411724908903377d4696/2e9b0cb2?q=75&fm=jpg&s=2016c4932a7b7a1b629cb6890bff9977');
	background-size: cover;
}

p{
	font-size: 18px;
}

.FooterIcon
{
	width: 150px;
height: 150px;
display: flex;
-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
display: inline-block;
margin-left: 1%;
margin-right: 1%;
}

.Facebook
{
	background:url('facebook.png');
	background-size:cover;
}

.Twitter
{
background:url('twitter.png');
background-size:cover;
}

.LinkedIn
{
background:url('instagram.png');
background-size:cover;
}

.FooterIcon:hover
{
border-radius:30px 30px 30px;
width:175px;
height: 175px;

}
